#instagram {
  width: 100%;
  min-height: 100%;
}

#instagram h5 {
  font-family: Brilliant Starlight;
  font-weight: 900;
  font-size: 5rem;
  line-height: 10rem;
  margin: 10px;
}

#instagram img {
  margin: 10px;
  padding: 0px;
  width: 25%;
  height: auto;
}

#instagram img:hover {
  opacity: .9;
}
