
#instagram{
//  background-color:blue;
  
 width: 100%;
 
 h5{
  font-family: Brilliant Starlight;
    font-weight: 900;
    font-size: 5rem;
    line-height: 10rem;
    margin: 10px;
  }
img{
  margin: 10px;
  padding: 0px;
  width: 25%;
  height: auto;
}
img:hover{
  opacity: .9;
}

}


// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }