/*
 * Globals
 */
* {
  box-sizing: border-box;
}

/*
* Navbar
*/
nav a,
nav a:hover {
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  text-decoration: none;
}

#mesa-navbar {
  opacity: 1;
}
