.App {
  text-align: center;
  height: 100vh;
  background-color: white;
}

/*
 * Globals
 */
* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Brilliant Starlight';
  src: url("./fonts/brilliant-starlight/fonts/BrilliantStarlight-Demo.eot");
  src: url("./fonts/brilliant-starlight/fonts/BrilliantStarlight-Demo.eot?#iefix") format("embedded-opentype"), url("./fonts/brilliant-starlight/fonts/BrilliantStarlight-Demo.woff2") format("woff2"), url("./fonts/brilliant-starlight/fonts/BrilliantStarlight-Demo.woff") format("woff");
}

main {
  scroll-behavior: smooth;
  overflow-y: scroll;
}
