/* @font-face {
  font-family: 'Brilliant Starlight';
  src: url("./fonts/brilliant-starlight/fonts/BrilliantStarlight-Demo.eot");
  src: url("./fonts/brilliant-starlight/fonts/BrilliantStarlight-Demo.eot?#iefix") format("embedded-opentype"), 
  url("./fonts/brilliant-starlight/fonts/BrilliantStarlight-Demo.woff2") format("woff2"), 
  url("./fonts/brilliant-starlight/fonts/BrilliantStarlight-Demo.woff") format("woff");
} */